@define-color mod-border #FFFFFF;
@define-color bg-color #000000;
@define-color fg-color #FFFFFF;

@define-color active-color @fg-color;
@define-color empty #767676;
/* ---------------------------- */

window#waybar {
    border: 2px solid @mod-border;
    outline: white;
    background-color: rgba(0, 0, 0, .82);
}

#workspaces button.empty {
    color: @empty;
}

#workspaces button.active {
    color: @active-color;

    margin-left: 10px;
    margin-right: 10px;

/*    letter-spacing: 9px;*/
}

#workspaces button {
    border-color: transparent;
    box-shadow: none; 
    background: none;
    text-shadow: none;
    color: @fg-color;
    transition: all .8s cubic-bezier(.55,1.88,0,1);
}

#workspaces,
#disk,
#cpu,
#memory,
#clock,
#custom-hyprland_layout {
    font-family: "One UI Sans APP VF";
    font-size: 18px;
    
    padding: 0 8px;
    color: @fg-color;
    background-color: transparent;
    margin: 4px;
}
