@define-color mod-border #916b31;
@define-color bg-color #e9e5da;
@define-color fg-color #916b31;

@define-color active-color @fg-color;
@define-color empty #cba367;
/* ---------------------------- */

window#waybar {
/*    border: 2px solid @mod-border;
    border-radius: 4;
    background-color: rgba(233,229,218,255);*/
    border: transparent;
    background: linear-gradient(rgba(233, 229, 218, 0), @bg-color);
    outline: white;
}

#workspaces button.empty {
    color: @empty;
}

#workspaces button.active {
    color: @active-color;

    margin-left: 12px;
    margin-right: 12px;

/*    letter-spacing: 9px;*/
}

#workspaces button {
    border-color: transparent;
    box-shadow: none; 
    background: none;
    text-shadow: none;
    color: @fg-color;
    transition: all .45s cubic-bezier(0.2, 0, 0, 1);
}

#workspaces,
#disk,
#cpu,
#memory,
#clock,
#custom-hyprland_layout {
    font-family: "Source Serif 4";
    font-size: 18px;
    
    padding: 0 8px;
    color: @fg-color;
    background-color: transparent;
    margin: 4px;
}
