@define-color bg-color #2f2554;
@define-color fg-color #c7b8ff;
/* ------------------------- */
   
* {
    font-family: "AcPlus IBM VGA 9x16";
    font-size: 21px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button:hover {
  border-color: transparent;
  box-shadow: none; 
  text-shadow: none;
  background: none;
}

#workspaces button {
    color: @fg-color;
}

#workspaces,
#clock,
#cpu,
#memory {
    border: 2px solid @fg-color;
    outline: white;
    padding: 0 10px;
    color: @fg-color;
    background-color: @bg-color;
}
